<form action="/realties/" method="get">
         <div class="d-shadow-wrap">
                  <div class="QuickSearch">
                          <h2>Поиск объектов недвижимости</h2>
                          <ul>
                                  <li>Быстрый поиск по:</li>
                                  <li><a href="#">типу</a></li>
                                  <li><a href="#">району</a></li>
                                  <li><a href="#">стоимости</a></li>
                          </ul>
                  </div>
                  
                  {{ search_form.as_p }}
                  <div class="SearchButton">
                           <input type="submit" value="Найти"/>
                  </div>
                  
                  <!--<div class="SearchOptions">
                          <ins class="SearchOptionsColumn">
                                  <span class="SearchOptionsColumnTitle">я хочу</span>
                                  <ul>
                                          <li><a href="#">арендовать</a></li>
                                          <li><a href="#">купить</a></li>
                                          <li><a href="#">сдать</a></li>
                                          <li><a href="#">продать</a></li>
                                  </ul>
                          </ins>
                          <ins class="SearchOptionsColumn">
                                  <span class="SearchOptionsColumnTitle">тип недвижимости</span>
                                  <ul>
                                          <li><a href="#" class="Active">любой</a></li>
                                          <li><a href="#">офис</a></li>
                                          <li><a href="#">торговая площадь</a></li>
                                          <li><a href="#">склад</a></li>
                                          <li><a href="#">производственная земля</a></li>
                                          <li><a href="#">свободного назначения</a></li>
                                  </ul>
                          </ins>
                          <ins class="SearchOptionsColumn">
                                  <span class="SearchOptionsColumnTitle">район</span>
                                  <ul>
                                          <li><a href="#" class="Active">любой</a></li>
                                          <li><a href="#">химмаш</a></li>
                                          <li><a href="#">уктус</a></li>
                                          <li><a href="#">керамика</a></li>
                                          <li><a href="#">уктус</a></li>
                                          <li><a href="#">керамика</a></li>
                                  </ul>
                                  <ul>
                                          <li><a href="#">химмаш</a></li>
                                          <li><a href="#">уктус</a></li>
                                          <li><a href="#">керамика</a></li>
                                          <li><a href="#">уктус</a></li>
                                          <li><a href="#">керамика</a></li>
                                          <li class="OtherItems"><a href="#">другой</a><a href="#" class="Arrows">▼</a></li>
                                  </ul>
                          </ins>
                          <ins>&nbsp;</ins>
                          <div class="SearchValues">
                                  <ul>
                                          <li><span>площадь объекта</span></li>
                                          <li><span>стоимость за м<sup>2</sup>/мес</span></li>
                                          <li><span>стоимость объекта</span></li>
                                  </ul>
                                  <ul>
                                          <li>от <input type="text" maxlength="8" value="" /></li>
                                          <li>от <input type="text" maxlength="8" value="" /></li>
                                          <li>от <input type="text" maxlength="8" value="" /></li>
                                  </ul>
                                  <ul>
                                          <li>до <input type="text" maxlength="8" value="" /></li>
                                          <li>до <input type="text" maxlength="8" value="" /></li>
                                          <li>до <input type="text" maxlength="8" value="" /></li>
                                  </ul>
                                  <div class="SearchButton">
                                          <input type="submit" value="Найти"/>
                                  </div>
                          </div>
                  </div>-->
                  <div class="d-sh-cn d-sh-tl">&nbsp;</div>
                  <div class="d-sh-cn d-sh-tr">&nbsp;</div>
          </div>
          <div class="d-sh-cn d-sh-bl">&nbsp;</div>
          <div class="d-sh-cn d-sh-br">&nbsp;</div>
</form>